[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://github.com/Jonatha-Varjao/Imagempp"
verify_ssl = true
name = "pypi"

[dev-packages]
fastapi = "*"
uvicorn = "*"
pillow = "*"
augmentor = "*"
requests = "*"
pydantic = "*"
gunicorn = "*"
alembic = "*"
sqlalchemy = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pillow = "*"
augmentor = "*"
requests = "*"
pydantic = "*"
gunicorn = "*"
alembic = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6.8"
